<div class="modal fade" id="editStockItemModal{{stock.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5 text-center">Edit Item - {{stock.name}}</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
            <form action="{% url 'edit-stock-item' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-body">
                    <div>
                        <input
                          type="number"
                          class="form-control"
                          id="item_id"
                          name="item_id"
                          value="{{stock.id}}"
                          readonly
                          required
                          hidden
                        />
                      </div>
                <div class="row mb-3">
                <div class="col">
                  <label for="exampleInputPassword1" class="form-label">Item Name</label>
                  <input
                    type="text"
                    class="form-control"
                    id="name"
                    name="name"
                    value="{{stock.name}}"
                    required
                  />
                </div>
                <div class="col">
                    <label class="form-label">Unit</label>
                    <select class="form-select" id="unit" name="unit" value="{{stock.unit_of_measure}}">
                      <option value=""></option>
                        <option value="Kg">Kilograms (KG) </option>
                        <option value="Grams">Grams (g)</option>
                        <option value="Litres">Litres (L)</option>
                        <option value="Boxes">Boxes</option>
                        <option value="Cartons">Cartons</option>
                        <option value="Metres">Metres</option>
                        <option value="Pieces">Pieces</option>
                      </select>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col">
                    <label for="exampleInputPassword1" class="form-label">Buying Price</label>
                    <input
                      type="number"
                      class="form-control"
                      id="buying_price"
                      name="buying_price"
                      min="0"
                      value="{{stock.buying_price}}"
                      required
                    />
                  </div>

                  <div class="col">
                    <label for="exampleInputPassword1" class="form-label">Buying Price</label>
                    <input
                      type="number"
                      class="form-control"
                      id="selling_price"
                      name="selling_price"
                      min="0"
                      value="{{stock.selling_price}}"
                      required
                    />
                  </div>
                </div>
                  
                  <div class="mb-2">
                    <label for="exampleInputPassword1" class="form-label">Quantity</label>
                    <input
                      type="number"
                      class="form-control"
                      id="quantity"
                      name="quantity"
                      min="1"
                      value="{{stock.quantity}}"
                      required
                    />
                  </div>
                  
                <div class="text-center mt-2">
                  <button type="submit" class="btn btn-primary">Submit Stock</button>
                </div>
              </div>
              </form>
      </div>
    </div>
  </div>