{% extends "base.html" %}

{% block additional_css %}


{% endblock additional_css %}

{% block content %}
<div class="row">
    <div class="col">
        <h3>Stock</h3>
    </div>
    <div class="col">
        <a class="btn btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#newStockItemModal">New Stock Item</a>
    </div>
    <div class="col">
      <form method="POST">
        {% csrf_token %}
        <div class="input-group mb-2">
          <div class="row">
            <div class="col">
              <input type="text" class="form-control" name="name" id="name" placeholder="Item Name">
            </div>
            <div class="col">
              <button class="btn btn-success btn-sm">Search</button>
            </div>
          </div>
          
        </div>
        
      </form>
    </div>
</div>

<hr/>
      <div class="table-responsive small">
        <table class="table table-sm">
          <thead class="">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Quantity</th>
              <th scope="col">Buying Price</th>
              <th scope="col">Selling Price</th>
              <th scope="col" colspan="4"></th>
            </tr>
          </thead>
          <tbody>
            {% for stock in page_obj %}
            <tr>
              <td>{{stock.id}}</td>
              <td>{{stock.name}}</td>
              <td>{{stock.quantity}} {{stock.unit_of_measure}}</td>
              <td>{{stock.buying_price}}</td>
              <td>{{stock.selling_price}}</td>
              
              <td><a class="btn btn-info btn-sm" data-bs-toggle="modal" data-bs-target="#editStockItemModal{{ stock.id }}">
                <i class="bi bi-pencil-square"></i>
              </a>
              </td>
              <td>
              <a class="btn btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#reStockModal{{ stock.id }}">
                <i class="bi bi-arrow-left-circle-fill"></i>
              </a>
            </td>
            <td><a class="btn btn-warning btn-sm" data-bs-toggle="modal" data-bs-target="#takeOutStockModal{{ stock.id }}">
                <i class="bi bi-box-arrow-right"></i>
              </a>
            </td>
            <td><a href="#" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteStockItemModal{{ stock.id }}">
                <i class="bi bi-trash"></i>
              </a></td>
              
            </tr>
           {% include "inventory/edit_stock_item.html" %}
           {% include "inventory/delete_stock_item.html" %}
           {% include "inventory/take_out_stock.html" %}
           {% include "inventory/restock.html" %}
            {% endfor %}

          </tbody>
        </table>
        <div>
          <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-end">
              {% if page_obj.has_previous %}   
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
              {% endif %}
              <a class="page-link" href="#">{{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a>
              {% if page_obj.has_next %}    
              <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
              {% endif %}   
            </ul>
          </nav>
        </div>
      </div>
{% endblock content %}