<div class="modal fade" id="newStockItemModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5 text-center">Record Stock</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
            <form action="{% url 'record-stock' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-body">
                  
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label fw-bold">Item Name</label>
                  <input
                    type="text"
                    class="form-control"
                    id="name"
                    name="name"
                    required
                  />
                </div>
                <div class="row mb-3">
                  <div class="col">
                    <label class="form-label fw-bold">Category</label>
                    <select class="form-select" id="category" name="category">
                        {% for category in categories %}
                        <option value="{{category.id}}">{{category.name}}</option>
                        {% endfor %}
                      </select>
                  </div>
                  <div class="col">
                      <label class="form-label fw-bold">Unit</label>
                      <select class="form-select" id="unit" name="unit">
                          {% for unit in measure_units %}
                          <option value="{{unit.id}}">{{unit.title}}</option>
                          {% endfor %}
                        </select>
                    </div>
                </div>
                

                  <div class="row mb-3">
                    <div class="col">
                      <label for="exampleInputPassword1" class="form-label fw-bold">Buying Price</label>
                      <input
                        type="number"
                        class="form-control"
                        id="buying_price"
                        name="buying_price"
                        min="0"
                        required
                      />
                    </div>
  
                    <div class="col">
                      <label for="exampleInputPassword1" class="form-label fw-bold">Selling Price</label>
                      <input
                        type="number"
                        class="form-control"
                        id="selling_price"
                        name="selling_price"
                        min="0"
                        required
                      />
                    </div>
                  </div>
                  
                  <div class="mb-2">
                    <label for="exampleInputPassword1" class="form-label fw-bold">Quantity</label>
                    <input
                      type="number"
                      class="form-control"
                      id="quantity"
                      name="quantity"
                      min="1"
                      required
                    />
                  </div>
                  
                <div class="text-center mt-2">
                  <button type="submit" class="btn btn-primary">Submit Stock</button>
                </div>
              </div>
              </form>
      </div>
    </div>
  </div>