{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-4">
        <h3>Customers</h3>
    </div>
    <div class="col-4">
        <a class="btn btn-success" data-bs-toggle="modal" data-bs-target="#newCustomerModal">New Customer</a>
    </div>
    <div class="col-4">
      <form method="POST">
        {% csrf_token %}
        <div class="input-group mb-3">
          <div class="row">
            <div class="col-8">
              <input type="text" class="form-control" name="search_text" id="search_text" placeholder="ID Number" >
            </div>
            <div class="col-4">
              <button class="btn btn-success">Search</button>
            </div>
          </div>
          
        </div>
        
      </form>
    </div>
</div>
<hr/>
      <div class="table-responsive small">
        <table class="table table-sm">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">ID Number</th>
              <th scope="col">Gender</th>
              <th scope="col">Phone Number</th>
              <th scope="col">Email</th>
              <th scope="col" colspan="2"></th>
            </tr>
          </thead>
          <tbody>
            {% for customer in page_obj %}
            <tr>
              <td>{{customer.id}}</td>
              <td>{{customer.name}}</td>
              <td>{{customer.user.id_number}}</td>
              <td>{{customer.user.gender}}</td>
              <td>{{customer.user.phone_number}}</td>
              <td>{{customer.user.email}}</td>
              <td><a class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#editCustomerModal{{ customer.id }}">
                <i class="bi bi-pencil-square"></i>
              </a></td>
              <td><a class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteCustomerModal{{ customer.id }}">
                <i class="bi bi-trash"></i>
              </a></td>
            </tr>
            
            {% include "customers/edit_customer.html" %}
            {% include "customers/delete_customer.html" %}
            {% endfor %}

          </tbody>
        </table>
        <div>
          <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-end">
              {% if page_obj.has_previous %}   
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
              {% endif %}
              <a class="page-link" href="#">{{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a>
              {% if page_obj.has_next %}    
              <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
              {% endif %}   
            </ul>
          </nav>
        </div>
      </div>
{% endblock content %}